<!-- problem -->
<!-- <div class="lesson" *ngIf="showLesson"
       *ngFor="let lesson of lessons">
    <div class="lesson-detail">
        {{lesson | json}}
    </div>
</div>   -->

<div *ngIf="showLesson">
    <div class="lesson" *ngFor="let lesson of lessons">
        <div class="lesson-detail">
            {{lesson | json}}
        </div>
    </div>
</div>

<ng-container *ngIf="showLesson">
    <div class="lesson" *ngFor="let lesson of lessons">
        <div class="lesson-detail">
            {{lesson | json}}
        </div>
    </div>
</ng-container>


<ng-container *ngIf="condition">
    <div *ngFor="let item of items">{{ item }}</div>
</ng-container>

<span>I am span 1</span>
<ng-container #vc>

</ng-container>
<span>I am span 2</span>
<ng-template #tpl>
    <span>I am a span in template</span>
</ng-template>


<ng-container *ngFor="let shape of comps">
    <ng-container *ngComponentOutlet="shape">
    </ng-container>
</ng-container>