<!-- <div>
  User Name: <input type="text" [(ngModel)]="userName"> <span>{{userName}}</span>
</div>
<br>
<div>
  <input [ngModel]="currentHero.name" (ngModelChange)="currentHero.name=$event">
  <input [ngModel]="currentHero.name">
</div>
<br>
<input [ngModel]="currentSpec" (ngModelChange)="setUppercaseName($event)">
<input [ngModel]="currentSpec"> -->

<app-sizer [(size)]="fontSizePx"></app-sizer>

<div [style.font-size.px]="fontSizePx">Resizable Text</div>

<app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
