<div>   {{ amount | currency:'EUR' }} </div>
<p>{{ 1234.56 | currency:"GBP" }}</p>
<div>
  <!-- pipe price to USD and display the $ symbol -->
  <label>Price: </label>{{product.price | currency:'USD':'symbol'}}
</div>

<div>
  {{ arr | slice:1:5 }}
</div>
<ul>
  <li *ngFor="let item of items | slice:0:1">{{ item }}</li>
</ul>

<div>Title through upperCase pipe: {{title | uppercase}}</div>
<h2>{{title | lowercase}}</h2>

<!-- Pipe chaining: convert title to uppercase, then to lowercase -->
<div>
  Title through a pipe chain:
  {{title | uppercase | lowercase}}
</div>

<p>The hero's birthday is {{ birthday | date }}</p>
<!-- pipe with configuration argument => "February 25, 1970" -->
<div>Birthdate: {{currentHero?.birthdate | date:'longDate'}}</div>

<h2>{{currentHero?.birthdate | date:'shortDate'}}</h2>
<h2>{{currentHero?.birthdate | date:'fullDate'}}</h2>

<h2>{{currentHero?.birthdate | date:'fullDate' | uppercase}}</h2>
<p>{{ currentHero?.birthdate | date: 'd/M/y' }}</p>

<div>Birthdate: {{(currentHero?.birthdate | date:'longDate') | uppercase}}</div>

<div id="json">json pipe {{currentHero | json}}</div>


<ul>
  <li *ngFor="let word of words; keyvalue">

    {{ word.key }}: {{ word.value }}

  </li>

</ul>

<p ngNonBindable>{{ 3.14159265 | number: '3.1-2' }}</p>

<p>{{ 3.14159265 | number: '3.1-2' }}</p>

<p>{{arr | sort: "descending"}}</p>
<p> {{'hello mY friend' | titlecase}}</p>


<div>
  <p>Impure pipe</p>
  <h2 *ngIf="!countCompleted">{{ count$ | async }}</h2>
  <h2 *ngIf="countCompleted">{{ message }}</h2>
</div>
  <div>
    exponential Strength custom pipe
    {{ 2 | exponentialStrength:10 }}
  </div>

  JavaScript is considering a built-in pipeline operator 
  {{data |> json}}
