<p *ngIf="serverCreated; then firstTemp; else noserver"></p>

<ng-template #firstTemp>
  Content displayed if expression returns true
</ng-template>

<ng-template #noserver>
  <p>No server is created</p>
</ng-template>

<div *ngIf="false">
<ng-template #myTemplateRef> This is a partial template </ng-template>
<div *ngTemplateOutlet="myTemplateRef"></div>
</div>

<ng-template let-message="myMessage" #myTemplateRef>
  <p>{{ message }}</p>
</ng-template>

<div
  *ngTemplateOutlet="
    myTemplateRef;
    context: { myMessage: 'This is a partial template dynamic data' }
  "
></div>

<app-heading [title]="theTruth"> </app-heading>
<ng-template #theTruth>
  <h4>hello world</h4>
</ng-template>

<h4>objects multiple key usage</h4>

<ng-template #myTemplate let-foo="bar">
  <span
    >demoval
    {{ foo.demoval }}
  </span>
</ng-template>

<ng-template
  [ngTemplateOutlet]="myTemplate"
  [ngTemplateOutletContext]="{
    bar: test.test1.test2.test3.test4
  }"
></ng-template>
