.sale {
  color: red;
}

.foo {color:pink;}

.bad {color: red;}

.saveable {color: limegreen;}
.curly, .modified {font-family: "Brush Script MT", cursive}
.special {font-weight:bold; font-size: x-large}

.my-class-1 {
  color:blue;}
