.bad {color: red;}
.saveable {color: limegreen;}
.curly, .modified {font-family: "Brush Script MT", cursive}
.special {font-weight:bold; font-size: x-large}
.sale {
  color:red;
}


.my-class-1 {
  color:blue;}

  .foo {color:pink;}
