<h2 id="property-binding">Property Binding</h2>

<span [hidden]="isUnchanged">changed</span>

<div class="card card-block" *ngFor="let joke of data">

<h4 class="card-title">{{joke.setup}}</h4>

<p class="card-text" [hidden]="joke.hide">{{joke.punchline}}</p>

</div>

<button [disabled]="isUnchanged">Cancel is disabled</button>



<div [ngClass]="classes">[ngClass] binding to the classes property</div>


<img bind-src="heroImageUrl">


<p><img src="{{heroImageUrl}}"> is the <i>interpolated</i> image.</p>
<p><img [src]="heroImageUrl"> is the <i>property bound</i> image.</p>

<p><span>"{{title}}" is the <i>interpolated</i> title.</span></p>
<p>"<span [innerHTML]="title"></span>" is the <i>property bound</i> title.</p>

<!--
  Angular generates warnings for these two lines as it sanitizes them
  WARNING: sanitizing HTML stripped some content (see https://g.co/ng/security#xss).
 -->
<p><span>"{{evilTitle}}" is the <i>interpolated</i> evil title.</span></p>
<p>"<span [innerHTML]="evilTitle"></span>" is the <i>property bound</i> evil title.</p>


<div>
  <img src="https://angular.io/assets/images/logos/angular/{{imageName}}">            
</div>


<ul>

  <li *ngFor="let item of items" #elem [id]="item.id">
  
  {{ item.name}} ID: {{elem.id}}
  
  </li>
  
  </ul>