<!-- <app-attr-binding></app-attr-binding> -->

<!-- <app-class-binding></app-class-binding> -->

<!-- <app-style-binding></app-style-binding> -->

<!-- <app-twoway-binding></app-twoway-binding> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-template-demo></app-template-demo> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-templated-reference></app-templated-reference> -->

<!-- <app-container-demo></app-container-demo> -->

<!-- <app-viewchildren></app-viewchildren> -->

<!-- <app-directives></app-directives> -->

<!-- <app-webwoker-demo></app-webwoker-demo> -->

<!-- <app-angularzone></app-angularzone> -->

<!-- <app-button></app-button> -->
<!-- <app-button [color]="'green'"> </app-button> -->

<button (click)="showHideRouteBlock()">Show/Hide</button>

<div *ngIf="routes && routes.length">
  <h2>Available Features</h2>
  <ul *ngIf="showText">
    <li *ngFor="let route of routes">
      <a [routerLink]="route.path">{{ route.path }} (Component: {{ route.component.name }})</a>
    </li>
    
  </ul>
</div>

<router-outlet></router-outlet>  
