

<img
  src="https://i.picsum.photos/id/556/200/300.jpg?hmac=TLwE28gIMuw2BUTndMuC3hoTlK6FtrE6Mx1UnR2dzu8"
  [attr.alt]="value >= 1 ? 'val1' : 'val2'"
/>

<hr />
create and set an aria attribute for assistive technology
<button [attr.aria-label]="actionName">{{ actionName }} with Aria</button>

<hr />

Example3-
basic with only html css-
<table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
  </tr>
  <tr>
    <td colspan="2">Sum: $180</td>
  </tr>
</table>

with attribut binding-
<!--  create and set a colspan attribute -->
<table style="border: 1px">
  <!--  expression calculates colspan=2 -->
  <tr>
    <td [attr.colspan]="1 + 1">One-Two</td>
  </tr>

  <!-- ERROR: There is no `colspan` property to set! -->
  <!-- <tr><td colspan="{{1 + 1}}">Three-Four</td></tr> -->

  <tr>
    <td>Five</td>
    <td>Six</td>
  </tr>
</table>

Example4-

<!-- any use of [attr.disabled] creates the disabled attribute -->
<button [attr.disabled]="isUnchanged">Disabled</button>
<button [attr.disabled]="!isUnchanged">Disabled as well</button>

<!-- we'd have to remove it with property binding -->
<button [disabled]="false" (click)="test(1)">Enabled (but inert)</button>



<button [attr.disabled]="value1>=1 ? true : null">Hello world</button>
<p [attr.id]="value1"></p>
<p [attr.style]="flag? 'background-color:red !important': 'background-color:blue'"></p>
