<h2>Demo: </h2>

<div>
<p>Progress: {{progress}}%</p>
<p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>
<button (click)="processWithinAngularZone()">Process within Angular zone</button>
<button (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>
</div>

<div *ngIf="false">
<div (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" class="test">
  <!-- <svg:g box *ngFor="let box of boxes" [box]="box">
      </svg:g> -->
</div>

<div class="container mt-3">
  <h2>Click handler in NgZone</h2>
  <button class="btn btn-primary" (click)="onClick()">Click me!</button>
  <hr />

  <h2>Click handler outside NgZone</h2>
  <button #btn class="btn btn-primary">Click me!</button>
  <hr />

  <h2>Click handler outside NgZone</h2>
  <button class="btn btn-primary" (click.zoneless)="onClick()">
    Click me!
  </button>

  <hr />
  <h2>3rd party lib initialized outside NgZone</h2>
  <button appTooltip class="btn btn-danger">Hover me!</button>
</div>

<div>
<button (click)="onClick()">Click me</button>
<div>{{ message }}</div>
<button (click)="handleClick()">Click Me</button>
<button (click)="runInZone()">Run In Zone</button>
<button (click)="runOutsideZone()">Run Outside Zone</button>
</div>
<div>
<textarea #tasknote name="tasknote" placeholder="tasknote"> </textarea>
<span id="spnName" #dataContainer> </span>
</div>
<pre>
  zoneless  - Optional zone.js. Ready for experiments.- Zoneless is possible. In production.
Switching to zoneless is straightforward:

Remove zone.js imports
Add the zoneless provider the application bootstrap
Check and validate your application
</pre>
</div>